@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("/src/assets/beams-home@95.jpeg");
} */

html.cafe {
  filter: sepia(0.9) hue-rotate(315deg) brightness(0.9);
}
html.contrast {
  filter: contrast(2);
}
